.group {
  position: relative;
  padding: 0.5rem;
}

.label {
  position: absolute;
  padding: 0 3px;
  top: 0px;
  left: 1.5rem;
  font-size: 10px;
  background: #FFFFFF;
  color: #808080;
  white-space: nowrap;
}

.input {
  font-family: var(--font-stack);
  padding: 0 12px;
  border: 1px solid #CDCDCD;
  border-radius: 2px;
  font-size: 20px;
  width: 25rem;
  height: 40px;
}

.input:hover {
  border: 1px solid #808080;
}
.input:focus {
  outline: none;
  border: 1px solid #3B3B3B;
}

.hide {
  display: none;
}

