.container {
  display: flex;
  align-items: center;
  padding: 2.5rem 1.625rem;
  border-bottom: 1px solid #E5E5E5;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.backBtn {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg clip-path='url(%23clip0_1569_297)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.25 10C2.25 9.58579 2.58579 9.25 3 9.25L17 9.25C17.4142 9.25 17.75 9.58579 17.75 10C17.75 10.4142 17.4142 10.75 17 10.75L3 10.75C2.58579 10.75 2.25 10.4142 2.25 10Z' fill='%2382B284'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.25 10C2.25 9.80109 2.32902 9.61032 2.46967 9.46967L8.46967 3.46967C8.76256 3.17677 9.23744 3.17677 9.53033 3.46967C9.82322 3.76256 9.82322 4.23744 9.53033 4.53033L4.06066 10L9.53033 15.4697C9.82322 15.7626 9.82322 16.2374 9.53033 16.5303C9.23744 16.8232 8.76256 16.8232 8.46967 16.5303L2.46967 10.5303C2.32902 10.3897 2.25 10.1989 2.25 10Z' fill='%2382B284'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1569_297'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-position: left;
  background-repeat: no-repeat;
  text-transform: uppercase;
  margin-right: auto;
  padding-left: 2.25rem;
  color: #82B284;
  font-family: var(--font-stack);
}

.controlsList {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.controlsItem {
  list-style: none;
  width: 20px;
  height: 20px;
}

.controlsItem:not(:last-child) {
  margin-right: 1.75rem;
}

.link,
.refresh,
.delete {
  width: 100%;
  height: 100%;
}

.link {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='10' viewBox='0 0 18 10' fill='none'%3E%3Cpath d='M2.24996 5.00001C2.24996 3.57501 3.40829 2.41668 4.83329 2.41668H8.16663V0.833344L4.83329 0.833344C2.53329 0.833344 0.666626 2.70001 0.666626 5.00001C0.666626 7.30001 2.53329 9.16668 4.83329 9.16668L8.16663 9.16668L8.16663 7.58334H4.83329C3.40829 7.58334 2.24996 6.42501 2.24996 5.00001ZM5.66663 5.83334L12.3333 5.83334V4.16668L5.66663 4.16668V5.83334ZM13.1666 0.833344L9.83329 0.833344V2.41668H13.1666C14.5916 2.41668 15.75 3.57501 15.75 5.00001C15.75 6.42501 14.5916 7.58334 13.1666 7.58334H9.83329V9.16668H13.1666C15.4666 9.16668 17.3333 7.30001 17.3333 5.00001C17.3333 2.70001 15.4666 0.833344 13.1666 0.833344Z' fill='%2382B284'/%3E%3C/svg%3E");
}

.refresh {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1636_1382)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.5131 3.29031C17.9273 3.29031 18.2631 3.6261 18.2631 4.04031V7.79031C18.2631 8.20453 17.9273 8.54031 17.5131 8.54031H13.7631C13.3488 8.54031 13.0131 8.20453 13.0131 7.79031C13.0131 7.3761 13.3488 7.04031 13.7631 7.04031H16.7631V4.04031C16.7631 3.6261 17.0988 3.29031 17.5131 3.29031Z' fill='%2382B284'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.1949 3.99269C10.0068 3.75636 8.77526 3.87765 7.65606 4.34124C6.53687 4.80483 5.58027 5.58988 4.90725 6.59714C4.23422 7.60439 3.875 8.78859 3.875 10C3.875 11.2114 4.23422 12.3956 4.90725 13.4029C5.58027 14.4101 6.53687 15.1952 7.65606 15.6588C8.77526 16.1224 10.0068 16.2436 11.1949 16.0073C12.3831 15.771 13.4744 15.1876 14.331 14.331C14.6239 14.0381 15.0988 14.0381 15.3917 14.331C15.6846 14.6239 15.6846 15.0988 15.3917 15.3917C14.3253 16.4581 12.9667 17.1843 11.4876 17.4785C10.0085 17.7727 8.47532 17.6217 7.08204 17.0446C5.68875 16.4675 4.49789 15.4902 3.66004 14.2362C2.8222 12.9823 2.375 11.5081 2.375 10C2.375 8.49192 2.8222 7.0177 3.66004 5.76378C4.49789 4.50986 5.68875 3.53254 7.08204 2.95542C8.47533 2.3783 10.0085 2.2273 11.4876 2.52152C12.9667 2.81573 14.3253 3.54194 15.3917 4.60831L14.8866 5.11339L15.3917 4.60831L18.0433 7.25996C18.3362 7.55286 18.3362 8.02773 18.0433 8.32063C17.7504 8.61352 17.2756 8.61352 16.9827 8.32062L14.331 5.66897C13.4744 4.81238 12.3831 4.22903 11.1949 3.99269Z' fill='%2382B284'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1636_1382'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.delete {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.12469 3.62501L16.8747 3.625C17.2889 3.625 17.6247 3.96079 17.6247 4.375C17.6247 4.78921 17.2889 5.125 16.8747 5.125L3.12469 5.12501C2.71048 5.12501 2.3747 4.78922 2.37469 4.37501C2.37469 3.96079 2.71048 3.62501 3.12469 3.62501Z' fill='%23D95151'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.125 7.375C8.53921 7.375 8.875 7.71079 8.875 8.125V13.125C8.875 13.5392 8.53921 13.875 8.125 13.875C7.71079 13.875 7.375 13.5392 7.375 13.125V8.125C7.375 7.71079 7.71079 7.375 8.125 7.375Z' fill='%23D95151'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.875 7.375C12.2892 7.375 12.625 7.71079 12.625 8.125V13.125C12.625 13.5392 12.2892 13.875 11.875 13.875C11.4608 13.875 11.125 13.5392 11.125 13.125V8.125C11.125 7.71079 11.4608 7.375 11.875 7.375Z' fill='%23D95151'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.37469 3.625C4.78891 3.625 5.12469 3.96079 5.12469 4.375V16.125H14.8747V4.375C14.8747 3.96079 15.2105 3.625 15.6247 3.625C16.0389 3.625 16.3747 3.96079 16.3747 4.375V16.25C16.3747 16.6147 16.2298 16.9644 15.972 17.2223C15.7141 17.4801 15.3644 17.625 14.9997 17.625H4.99969C4.63502 17.625 4.28529 17.4801 4.02742 17.2223C3.76956 16.9644 3.62469 16.6147 3.62469 16.25V4.375C3.62469 3.96079 3.96048 3.625 4.37469 3.625Z' fill='%23D95151'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.71079 1.71079C7.08586 1.33571 7.59457 1.125 8.125 1.125H11.875C12.4054 1.125 12.9141 1.33571 13.2892 1.71079C13.6643 2.08586 13.875 2.59457 13.875 3.125V4.375C13.875 4.78921 13.5392 5.125 13.125 5.125C12.7108 5.125 12.375 4.78921 12.375 4.375V3.125C12.375 2.99239 12.3223 2.86521 12.2286 2.77145C12.1348 2.67768 12.0076 2.625 11.875 2.625H8.125C7.99239 2.625 7.86522 2.67768 7.77145 2.77145C7.67768 2.86521 7.625 2.99239 7.625 3.125V4.375C7.625 4.78921 7.28921 5.125 6.875 5.125C6.46079 5.125 6.125 4.78921 6.125 4.375V3.125C6.125 2.59457 6.33571 2.08586 6.71079 1.71079Z' fill='%23D95151'/%3E%3C/svg%3E");
}