.gridContainer {
  display: grid;
  grid-template-areas: 
    "aside header main"
    "footer footer footer"
  ;
  grid-template-columns: auto auto 2fr;
}

.aside {
  grid-area: aside;
}

.footer {
  grid-area: footer;
}

.main {
  grid-area: main;
}

.header {
  grid-area: header;
}