.container {
  display: flex;
  background-color: #FFFFFF;
  color: #B9B9B9;
  flex-direction: column;
  padding: 2rem 0 3.75rem;
  font-size: 12px;
}

.copyrights {
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.phone {
  margin: 0 auto;
  text-decoration: none;
  color: #B9B9B9;
  font-size: 12px;
}